body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation bar */
.navbar {
  padding-left: 0;
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}

.nav-links {
  font-size: 1.2rem;
}

/* DOWNLOADED BUTTONS */
.downloaded-buttons {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.first{
   padding: 3% 15% 7%;
}

/* TITLE IMAGE */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  background-color: white;
  position: relative;
}

.feature-heading {
  font-size: 1.365rem;
}

.features-box {
  padding: 4%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 3.5rem;
}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 6.25rem;
}

.pricing-heading {
  font-size: 1.365rem;
}

.pricing-coloum {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 3rem;
  line-height: 3.5rem;
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* Footer Section */
.footer-link {
  margin: 1rem;
  color: #000;
}

.Copyright {
  margin: 1rem;
}

/* Media Query */
@media (max-width:1100px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
